.button-box {
    align-items: center;

    .join-button {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.rules {
    background-color: lightseagreen;
    border-radius: 25px;

    h2 {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }
}