* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.myBoard {
	height: clamp(10rem, 40vw, 40rem);
	width: clamp(10rem, 40vw, 40rem);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	
	div {
		border: 1px solid black;
	}
}


.opponentBoard {
	height: clamp(10rem, 40vw, 40rem);
	width: clamp(10rem, 40vw, 40rem);
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;

	div {
		border: 1px solid black;
	}
}